body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
}

body * {
    margin: default;
    padding: default;
}

h1 {
    text-align: center
}

#circle-canvas {
    position:absolute;
    margin: 0; 
    padding: 0;
}