body {
    margin: 0px 20px 0px 20px;
    padding-right: 1em;
    padding-left: 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 { font-family: verdana;
                     /*font-weight: bold;*/
                     border-bottom: 1px dotted black;
                     color: #162090; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}

dd p {
        margin-top: 0;
}
#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

/* Styling from http://perishablepress.com/perfect-pre-tags/ */
code {
    padding:0;
    color:#3f3b36;
    background-color:transparent;
    font-size:1.2rem;
    line-height:2rem;
    text-shadow:none
}
code {
    padding:0.2rem 0.1rem;
    color:#333;
    background-color:rgba(245,217,149,0.6);
}

pre > code {
    background-color:rgba(0,0,0,0);
}

